div{
/* border: 1px solid black; */
}
body{
  background-color: #9B3D36;
}

header{
  height: 120px;
  padding-top: 30px;
}

.fondo-blanco{
    background-color: white;
}
/* .container{
  max-width: 990px;
} */

.btn-youtube{
color: red;
}
.logo{
  height: 75px;
}
.menu-social{
margin-top: 50px;
text-align: right;
}

.navbar{
  border-radius: 0;
}

.marca{
   border: 1px solid black;
}
/* .img-responsive{
  height: 220px;
} */

/* .contenido{
  height: 400px;
}
.left-column{
  height: 400px;
} */

.titulo{
  margin-left: 2px;
}

.sangria{
   text-indent: 1.5em
 }
.comentario{
margin-top: 20px;
padding-left: 15px;
padding-right: 15px;
}

.lista-opciones{
padding: 10px;
}

.active{
  background-color: #E57C5B !important;
}
.input-group-addon{
  background-color: white;
  border: 0;
  font-size: 30px;
}
/* .glyphicon{  
  font-size: 30px;
  background-color: white;
} */
.navbar-nav{
  /*Quita el los margenes  y rellenos en el UL para que quede centrado*/
  margin: 0;
  padding: 0;
  /*++++++++++++++*/
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}


@media (max-width:767px) {
  .menu-social{
    text-align: center;
    margin-top: 10px;
    /* background-color: #D55C1F; */
  }
  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  header{
    padding-top: 5px;
  }
  .navbar-nav{
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .titulo{
    text-align: center;
  }

}


/* .container{
  border-color: red;
} */

/* *{

} */
